<div>
  <%= render Avo::Sidebar::HeadingComponent.new label: "Tools" %>

  <div class="w-full space-y-1">
    <%= render Avo::Sidebar::LinkComponent.new label: "Scraping Health", path: "/admin/scraping_health" %>
  </div>
</div>
